{% extends 'data/base.html' %}
{% load crispy_forms_tags  %}
{% load humanize %}
{% load static %}
{% block content %}



<div class="addentryform">
    <form  method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-2">
                <h3 class="text-center">Add Entry</h3>
            </div>
            <div class="col-10 col-md-5">
                {{ AddEntryForm.title|as_crispy_field }}
            </div>
            <div class="col-10 col-md-5">
                {{ AddEntryForm.price|as_crispy_field }}
            </div>
        </div>
        
        <div class="row d-flex justify-content-between pt-3">
            <div class="col-md-9">
                {{ AddEntryForm.tags|as_crispy_field }}
            </div>
            <div class="col-md-3 align-self-end">
                <button type="submit" class="btn btn-primary" style="float:right;">Add Entry</button>
            </div>
        </div>
    </form>
    <div class="form-group pl-4">
        <form  method="POST" class="">
            {% csrf_token %}
            <input class="d-inline form-control" type="text" name="tag" style="width:auto;" id="id_tag" placeholder="some tag" required/>
            <button class="d-inline btn btn-secondary" style="vertical-align:baseline;">Add Tag</button>
        </form>
    </div>
</div>


{% for entry in data %}
    <a href="{% url 'data-entry' title=entry.title pk=entry.pk %}">
        <div class="entry py-3 px-3 my-3">
            <span class="text-capitalize font-weight-bold align-middle">{{ entry.title }}</span>
            <span class="pl-2 align-middle">{% if entry.currency == "USD" %}${{ entry.price }}
                {% else %}{{ entry.price }} {{entry.currency }}
                {% endif %}</span>
            {% for tag in entry.tags.all %}
                <a href="{% url 'data-tag' title=tag pk=tag.id %}"
                class="float-right ml-1" id="tagid">{{ tag }}</a>
            {% endfor %}
        </div>
    </a>
{% empty %}
    <div class="m-4">You have no entries yet. Add an entry to begin!</div>
{% endfor %}

<!-- table -->
<div class="w-2/3 mx-auto py-5">
    <table class="border-collapse border border-gray-600 bg-gray-400" style="width: 100%;">
        <thead>
        <tr>
            <th>Tag</th>
            <th>Cost</th>
        </tr>
        </thead>
        <tbody>
        {% for tag, total in tagtotal.items %}
        <tr>
            {% if tag != "totalSumOfTags" %}
                <td class="border border-gray-600 pl-2">{{ tag }}</td>
                <td class="border border-gray-600 pl-2">${{ total.0|floatformat:"2"|intcomma:False }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        {% if total %}
            <tr style="font-weight:bold;">
                <td class="border border-gray-600 bg-gray-500">Total Spent</td>
                <td class="border border-gray-600 bg-gray-500">${{ total|floatformat:"2"|intcomma:False }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}
