{% extends 'data/base.html' %}

{% block content %}


<h1>Expense Tracker</h1>

{% if user.first_name %}
<h2>Welcome, {{ user.first_name }}</h2>
{% else %}
<h2>Welcome, {{ user.username }}</h2>
{% endif %}
<!-- Enter new data (form) -->
<fieldset>
    <form  method="POST">
        {% csrf_token %}
        {{ AddEntryForm }}
        <button type="submit" style="float: right;">Add Entry</button>
    </form>

    <form  method="POST">
        {% csrf_token %}
        {{ AddTagForm }}
        <button type="submit">Add Tag</button>
    </form>
</fieldset>
<br>
<hr>
<!-- Display Data -->
{% for entry in data %}
    <a href="{% url 'data-entry' title=entry.title pk=entry.pk %}"><b>{{ entry.title }}</b></a>
    ${{ entry.price }}
    {% for tag in entry.tags.all %}
        <em><a href="{% url 'data-tag' title=tag pk=tag.id %}">{{ tag }}</em></a>
    {% endfor %}
    <hr><br>
{% empty %}
You have no entries yet
{% endfor %}

<br>

{% for tag, total in tagtotal.items %}
    <p>{{ tag }}: ${{ total }}</p>

{% endfor %}


{% if tagtotal %}
<hr>
Total: ${{ total.price__sum }}
{% endif %}


{% endblock %}
