{% extends 'data/base.html' %}

{% block content %}
<h2>Tag Details for {{ tag }}</h2>
<div class="row">
    <div class="col-md-6 col-lg-4 p-2 my-5">
        <canvas id="costpertime" width="400" height="400"></canvas>
    </div>
    <div class="col-md-6 col-lg-4 p-2 my-5">
        <canvas id="costpermonth" width="400" height="400"></canvas>
    </div>
    
    {% comment %} Years {% endcomment %}
    {% for id in chartids %}
    <div class="col-md-6 col-lg-4 p-2 my-5">
        <canvas id="{{ id }}" width="400" height="400"></canvas>
    </div>
    {% endfor %}

    {% comment %} entries per year {% endcomment %}
    <div class="col-md-6 col-lg-4 p-2 my-5">
        <canvas id="data1" width="400" height="400"></canvas>
    </div>
</div>

<br>
{% for entry in tag.entry_set.all|dictsortreversed:"date_posted" %}
    <a href="{% url 'data-entry' title=entry.title pk=entry.pk %}"><b>{{ entry.title }}</b></a>
    ${{ entry.price }}
    {% for tag in entry.tags.all %}
        <em><a href="{% url 'data-tag' title=tag pk=tag.id %}">{{ tag }}</em></a>
    {% endfor %}
    {{ entry.date_posted }}
    <hr><br>
{% endfor %}

<h4>Total: ${{ total }}</h4>



<script>
    $(document).ready(function(){
        var endpoint = '/charts/data/{{ tag.id }}'
        var data1 = [];
        var labels = [];
        

        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data){
                for (const [key, value] of Object.entries(data.entriesovertime)) {
                  labels.push(key);
                  data1.push(value.total);
                }
                if (Object.keys(data.entriesovertime).length > 1) {
                    drawBarChart("data1",labels,data1, "frequency","Entries Per Year");
                }
                drawLineChart("costpertime",Object.keys(data.costofentries),
                                          Object.values(data.costofentries), "$",
                                          "Money spent over time");
                drawBarChart("costpermonth",Object.keys(data.months),
                                          Object.values(data.months), "$",
                                          "Money spent per month");
                
                for (const [key, value] of Object.entries(data.entriesovertime)) {
                    var x = [];
                    var y = [];
                    for (const [key1, value1] of Object.entries(value)){
                        if (key1 != "total"){
                            x.push(key1);
                            y.push(value1);
                        }

                    }
                    if (x.length > 1){
                        drawLineChart(key,x,y, "frequency", "Entry Frequency Per Month for "+key);
                    }
                    else{
                        drawBarChart(key,x,y, "frequency", "Entry Freqeuncy Per Month for "+key);
                    }
                  }
               
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })
    })

    function drawBarChart(id_tag, labels, data, label, title){
      const ctx = document.getElementById(id_tag).getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: label,
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
              scale: {
                ticks: {
                  precision: 0
                }
              },
              plugins: {
                title: {
                    display: true,
                    text: title
                }
            }
            }
            
            
        })
        
    }

    function drawLineChart(id_tag, labels, data, label, title){
        const ctx = document.getElementById(id_tag).getContext('2d');
          const myChart = new Chart(ctx, {
              type: 'line',
              data: {
                  labels: labels,
                  datasets: [{
                      label: label,
                      data: data,
                      borderColor: 'rgb(75, 192, 192)',
                      tension: 0.1,
                      fill: true,
                  }]
              },
              options: {
                scales: {
                    xAxes: {
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 7
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                },
                scale: {
                  ticks: {
                    precision: 0
                  }
                },
                plugins: {
                    title: {
                        display: true,
                        text: title
                    }
                }
                
              }
          })    
      }


</script>
<br>



{% endblock %}
