{% extends "account/base.html" %}
{% load tailwind_filters %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1 class="text-3xl font-bold">{% trans "Sign In" %}</h1>
<br>
<a href="{% provider_login_url "google" %}" class="bg-red-200 p-2 text-lg text-gray-500 font-bold rounded-full hover:bg-red-300 ">Login with Google</a>
<br><br>
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <button class="primaryAction px-4 rounded-lg bg-purple-800  text-gray-800 font-bold p-4 uppercase border-yellow-500 border-t border-b border-r" type="submit">{% trans "Sign In" %}</button><br>
  <a class="button secondaryAction text-gray-800 muted hover:underline" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>

{% endblock %}
